// Custom.scss
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "~bootstrap/scss/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";

@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/breadcrumb";

@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/placeholders";

// Helpers
@import "~bootstrap/scss/helpers";

$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);

body {
  margin: 0;
  background: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: whitesmoke;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  color: #666;
}

nav a::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #666;

  position: absolute;
  top: -50;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::after {
  width: 100%;
}

.skills-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  margin: 3px;
}

.experience {
  h1 {
    @media screen and (max-width: 768px), (max-height: 601px) {
      font-size: 16px;
      padding: 0.2rem;
    }
    font-size: 24px;
    font-weight: bolder;
    font-family: "lato", sans-serif;
    color: #ffffff;
    margin-bottom: 2.5rem;
    background-color: #000000;
    padding: 0.5rem;
  }
  .experience-title {
    font-weight: 400;
    margin-top: 13px;
    margin-bottom: 13px;
    font-family: "lato", sans-serif;
    font-weight: bold;
    color: #210454;
  }
  .experience-item {
    @media screen and (max-width: 768px), (max-height: 601px) {
      padding: 0 0 0 10px;
    }
    padding: 0 0 0 15px;
    margin-top: -2px;
    border-left: 2px solid #666;
    position: relative;
    h4 {
      @media screen and (max-width: 768px), (max-height: 601px) {
        font-size: 12px;
      }
      line-height: 16px;
      font-size: 16px;
      font-weight: 600;
      font-family: "lato", sans-serif;
      color: #000000;
      margin-bottom: 10px;
    }

    h5 {
      @media screen and (max-width: 768px), (max-height: 601px) {
        font-size: 12px;
      }
      font-size: 14px;
      background: #222;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
      color: #ffffff;
    }

    p {
      @media screen and (max-width: 768px), (max-height: 601px) {
        font-size: 12px;
      }
      margin: 0 0 10px 0;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      font-family: "lato", sans-serif;
    }
  }
  .experience-item::before {
    @media screen and (max-width: 768px), (max-height: 601px) {
      width: 7px;
      height: 7px;
      left: -4px;
    }
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    left: -7px;
    top: 0;
    background: #666;
    border: 2px solid #000000;
  }
}

.avatar {
  @media screen and (max-width: 768px), (max-height: 601px) {
    width: 200px;
    height: 200px;
  }
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #222;
}

.cardText {
  @media screen and (max-width: 768px), (max-height: 601px) {
    font-size: 18px;
  }
  font-size: 24px;
  font-weight: 600;
  font-family: "lato", sans-serif;
  color: #000000;
  margin-bottom: 10px;
}

.iconText {
  @media screen and (max-width: 768px), (max-height: 601px) {
    font-size: 14px;
  }
  font-size: 16px;
  font-weight: 600;
  font-family: "lato", sans-serif;
  color: #000000;
  margin-bottom: 10px;
}
@import "~bootstrap/scss/utilities/api";
